{% extends 'base.html' %}

{% block content %}
    <h1> Addstock </h1>
    <br>
    
        <form action="{% url 'addstock' %}" class="searchbar1 mb-3" method="POST" >
          {% csrf_token %}
          <input class="searchinput" type="text" name="ticker" placeholder="Add Stock...">
          <button class="searchicon" type="submit">Add Stock </button>
        </form>

        <div class="col-auto">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark" >
    
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Stock Price</th>
                        <th scope="col">Previous Close</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">YTD Change</th>
                        <th scope="col">52 Wk High</th>
                        <th scope="col">52 WK Low</th>
                    </tr>
                </thead>
                <tbody>
                    {% if ticker %}
                    <tr>
                        {% for item in output %}
                        <th>{{item.companyName}}</th>
                        <td>${{item.latestPrice}}</td>
                        <td>${{item.previousClose}}</td>
                        <td>${{item.marketCap}}</td>
                        <td>%{{item.ytdChange}}</td>
                        <td>${{item.week52High}}</td>
                        <td>${{item.week52Low}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        
        <div style="margin-top: 10%;">
            <h2>Delete The Stock </h2> <br>
            {% for item in ticker %}
            <td><a href="{% url 'delete' item.id %}" class="btn btn-sm btn-danger">Delete {{item}}</a></td> &nbsp;
            {% endfor %}
        </div>

{% endblock content %} 



